.mergeContainer {
  min-width: 600px;
  .playlistContainer {
    display: flex;
    margin: 0 auto;
    width: 70%;
    position: relative;
    .songCount {
      margin-top: 0;
    }
    .leftPlaylistContainer {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .mergeButtons {
      width: 10%;
      .mergeOptions {
        height: 30px;
        margin-top: 200px;
      }
      button {
        margin-top: 200px;
      }
    }
    .rightPlaylistContainer {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .playlistList {
      height: 600px;
      overflow-y: scroll;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
