.playlistComponentContainer {
  width: 50%;
  min-width: 100px;
  border: 1px solid black;
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  &:hover {
    background-color: lightgray;
  }
  img {
    height: 100px;
    width: 100px;
  }
  svg {
    position: absolute;
    right: 5%;
    top: 5%;
  }
}
